#button1 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
    margin: 0 auto;
}

#button2 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
}

#button3 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
}

#button4 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
}

#button5 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
}

#button6 {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    outline: none;
    border: solid;
}

#reset {
    border: transparent;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 6rem;
}

p {
    text-align: center;
    font-size: 2rem;
}

div {
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}